@import '../fonts/klinicslab/stylesheet.css';
@import '../fonts/mavenpro/stylesheet.css';


/* colors */
$light-gray: #f0f3f8;
$near-black: #2d2e30;
$dark-gray: rgb(41,41,41);
$orange: #f0a748;
$white: #fff;
$black: #000;

/* fonts */
$font-primary: 'klinic_slabbook', 'Georgia', serif;
$font-subhed: 'maven_pro_light300', Helvetica-Neue, Helvetica, sans-serif;
$font-edmond: 'maven_pro_light300';
$font-primary-bold: 'klinic_slabbold';
$smaller: 18px;



@mixin input-placeholder($color) {
  ::-webkit-input-placeholder {
   color: $color;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $color;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $color;
  }

  :-ms-input-placeholder {  
     color: $color;
  }

}



body {
  font-size: 26px;
  font-family: $font-primary;
  background: cover;
  background-image: url('../images/clock_unsplash_sonja_langford_bw.jpg');
  background-size: cover;
  font-weight: lighter;
  background-color: $light-gray;
  color: $near-black;
  text-align: left;
  padding: 10px 20px;

}

.wrapper {
  padding: 20px 50px;
  min-height: 100%;
  margin-bottom: -100px;

  &:after {
    content: '';
    display: block;
  }
}

footer, .wrapper:after{
  height: 100px;
  padding: 0 50px;
  font-size: $smaller;

}

.appLayer {
  
  p {
    font-family: $font-primary-bold;
    text-align: right;
    text-transform: uppercase;
    font-size: $smaller;
    letter-spacing: 1px;
  }
}

.countBox {
  background: 0;
  background-color: $orange;
  border: solid 10px $white;
  opacity: 0.95;
  min-height: 500px;

}

.countForm, .timer {
  padding: 60px;
  font-family: $font-subhed;

  h1 {
    font-family: 'klinic_slabmedium';
    font-size: 50px;
    font-weight: bold;
  }

  .countError{
    padding: 10px 0;
    font-size: 20px;
    color: $white;
  }


}

.countForm, .timer, .timerButton {

  label {
    display: block; 
    padding: 10px 0; 
    font-size: 20px;  
  }

  input{
    text-align:center;
    outline: none;
    cursor: auto;
    color: $white;
    border-radius: 2px;
    letter-spacing: 1px;
    font-family: $font-subhed;
    font-weight: lighter;

    &[type=text]{
      font-size: 28px;
      background: 0;
      border: 0;
      border-bottom: 3px solid $white;
      width: 16em;
      line-height: 1.2em;
    }

    &[type=submit], [type=button] {
      background-color: $white;
      border-radius: 6px;
      border: 1px solid transparent;
      color: $near-black;
      padding: 10px;
      font-size: 16px;
      font-weight: 500;

      &:hover{
        background-color: $near-black;
        color: $white;
      }
    }
  }
}
  

