<!DOCTYPE html>
<html>
  <head>
    <title>Countdown Countup</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- // <script src="http://fb.me/react-0.12.1.js"></script> -->
    <!-- // <script src="http://fb.me/JSXTransformer-0.12.1.js"></script> -->
    <!-- // <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script> -->
    <!-- Showdown library takes Mardown text and converts to raw HTML -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
        <div id="content"></div>
        <div id="settings"></div>
        <div id="countdown"></div>
        <div id="countup"></div>
        <div id="counter"></div>
    </div>
    <script type="text/javascript" src="../static/js/app.js"></script>
  </body>
</html>